---
import akaiionaLogo from '../assets/akaiiona-logo.svg';
---

<div class="flex items-center justify-center h-screen bg-gray-100">
 <div class="w-7/8 lg:w-5xl h-135 p-8 mx-10 bg-white rounded-lg shadow-xl">
		<img id="Logo" src={akaiionaLogo.src} alt="Akaiiona Logo" fetchpriority="high" width="300" height="65" class="max-h-15 lg:max-h-35 w-full mt-10" />
		<p class="text-base/7 text-center uppercase font-semibold text-gray-400 mt-10">Digital Audio Workspace Plugin</p>
		<h2 class="mt-2 text-3xl lg:text-5xl font-semibold text-center uppercase tracking-tight text-gray-600 sm:text-5xl">Hip Hop &amp; Rap <br class="md:hidden">Drum kit</h2>
		<p class="mt-8 text-lg font-medium text-center text-pretty text-gray-500 sm:text-xl/8 lg:text-md">Free usage with credit to:<br class="md:hidden"> AKAIIONA | <a href="mailto:jack@jack-armstrong.com" class="hover:text-black transition delay-150 duration-300 ease-in-out">Jack Armstrong</a></p>


		<a href="/Akaiiona-drumkit.zip" class="inline-flex items-center gap-x-1.5 rounded-md bg-gray-600 px-3 py-2 mx-10 mt-10 mx-20 md:mx-5 lg:mx-100 text-sm font-semibold text-white shadow-xs hover:bg-gray-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110">Download
		<svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="-mr-0.5 size-5">
			<path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" fill-rule="evenodd" />
		</svg>
		</a>
	</div>
</div>