---
import akaiionaLogo from '../assets/akaiiona-logo.svg';
import background from '../assets/background.svg';

---

<div id="container">
	<div class="bg-white pt-25 lg:pt-50">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<div class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-4 gap-y-6 sm:max-w-xl">
				<img id="Logo" src={akaiionaLogo.src} alt="Akaiiona Logo" fetchpriority="high" width="300" height="65" class="col-span-4 max-h-65 w-full" />
			</div>
		</div>
	</div>





	<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
		<div class="mx-auto max-w-2xl text-center">
			<p class="text-base/7 font-semibold text-blue-600">Sound Samples For </p>
			<h2 class="mt-2 text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Digital Usage</h2>
			<p class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat.</p>
		</div>
	</div>

</div>
